<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a id="blog-logo" href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" /></a>
  <!-- Example responsive navigation menu  -->
  <a class="show" href="#menu"><i class="fa fa-bars"></i></a><a class="hide" href="#hidemenu"><i class="fa fa-bars"></i></a>

    <ul class="menu-items glitch">
    {{#foreach @blog.navigation}}
      <li><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}

  </ul>
  </div>
</nav>
