<!-- Navigation here -->

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper font-effect-anaglyph">
             {{#if @blog.logo}}
               <a id="blog-logo" class="logo-wrap" href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" /></a>
             {{else}}
               <div class="logo-wrap"><a href="{{@blog.url}}" title="Go to Home">{{@blog.title}}</a></div>
             {{/if}}

      <ul id="nav-mobile" class="right hide-on-med-and-down dd-nav">
        <li><a href="/about/">readme</a></li>
        <li><a href="https://www.patreon.com/davidwolinsky" target="_blank">support</a></li>
        <li><a href="http://feeds.feedburner.com/dontdie" target="_blank"><i class="fa fa-rss"></i></a></li>
        <li><a href="http://eepurl.com/bdJ6iT" target="_blank"><i class="fa fa-envelope"></i></a></li>
        <li>
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
        <!-- Handlebar nav is still buggy....
          {{#foreach @blog.navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
          {{/foreach}}-->

      </ul>

    </div>
  </nav>
</div>
