<!DOCTYPE html>
<html class="menu-drawer header-off fixed-height">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{#if author}}{{{author.name}}}:{{/if}} {{#if post.title}}{{{post.title}}} - {{/if}} {{{@blog.title}}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    {{! Styles'n'Scripts }}

    {{>fonts }}

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{asset "css/materialize.css"}}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{>analytics }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{asset "js/materialize.js"}}"></script>


   <div class="wrap">

     <header class="header">

	   </header>

      {{navigation}}



    {{! Everything else gets inserted here }}



      {{{body}}}


    {{>footer }}

  </div><!-- /wrap -->

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script> var ie9 = false; </script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->

    <script type="text/javascript" src="{{asset "js/plugins/global-plugins.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/scripts.min.js"}}"></script>



</body>
</html>
